@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-50 dark:bg-gray-50;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Loading spinner */
.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #ddd;
  border-top-color: #1447e6;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}